In [15]:
import pandas as pd
import datetime 

df_match = pd.read_csv('match_duplicates_removal_20201210.csv')

#df_match_true = df_match.sort_values(by=['Value'])
#df_match = df_match_true.drop_duplicates(subset=['opid'],keep='last')


#df_match = df_match.sort_values(by=['opid'])
#df_match = df_match.reset_index()
print(df_match)

      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
0              0             0              35                35
1              1             1              38                38
2              2             2             103               103
3              3             3             146               146
4              4             4             150               150
...          ...           ...             ...               ...
8328        8385          9065           45279             45279
8329        8386          9066           45280             45280
8330        8387          9067           45286             45286
8331        8388          9068           45288             45288
8332        8389          9069           45294             45294

      Unnamed: 0.1.1.1.1       oID       hid gender   birthdate  \
0                     35  21863852  51597829      F  1998-08-13
1                     38  21863852  51597829      F  1998-08-13
2                    103  21864256  52049619      F  1991-09-24
3                    146  21884764  52067408      F  1972-10-25
4                    150  21863954  47393105      F  1972-09-21
...                  ...       ...       ...    ...         ...
8328               45279  31712645  47199853      M  1975-11-28
8329               45280  31712645  47199853      M  1975-11-28
8330               45286  31600302  51659688      M  1956-01-30
8331               45288  31600302  51659688      M  1956-01-30
8332               45294  31748528  50856998      F  1979-08-08

              NRS_time  Value  bed        opend_time       opid  \
0     2019-04-08 12:00    6.0    1  2019-04-08 11:39  190408044
1     2019-04-08 12:20    6.0    1  2019-04-08 11:39  190408044
2     2019-04-08 20:40    7.0    1  2019-04-08 20:23  190408106
3     2019-04-09 11:30    4.0    2  2019-04-09 10:52  190409012
4     2019-04-09 12:00    6.0    3  2019-04-09 11:38  190409044
...                ...    ...  ...               ...        ...
8328  2020-10-30 21:20    6.0    1  2020-10-30 20:56  201030023
8329  2020-10-30 21:45    6.0    1  2020-10-30 20:56  201030023
8330  2020-10-31 13:20   10.0    3  2020-10-31 12:55  201031004
8331  2020-10-31 13:30    9.0    3  2020-10-31 12:55  201031004
8332  2020-10-31 16:20    3.0    4  2020-10-31 15:50  201031002

                             path
0     PACU1_1_190408_115004.vital
1     PACU1_1_190408_115004.vital
2     PACU1_1_190408_202459.vital
3     PACU1_2_190409_110712.vital
4     PACU1_3_190409_114333.vital
...                           ...
8328  PACU1_1_201030_211816.vital
8329  PACU1_1_201030_211816.vital
8330  PACU1_3_201031_131135.vital
8331  PACU1_3_201031_131135.vital
8332  PACU1_4_201031_160405.vital

[8333 rows x 15 columns]

In [16]:
df_gc = pd.read_csv('table_1_contents_op_an.csv',sep=',')
df_gc=df_gc.drop_duplicates(subset=['opid'],keep='first')
df_gc=df_gc.reset_index()

df_gc['orin']=pd.to_datetime(df_gc['orin'])
df_gc['orout']=pd.to_datetime(df_gc['orout'])
df_gc['opstart']=pd.to_datetime(df_gc['opstart'])
df_gc['opend']=pd.to_datetime(df_gc['opend'])
df_gc['Anetime'] = df_gc['orout']-df_gc['orin']
df_gc['Optime']=df_gc['opend']-df_gc['opstart']
print(df_gc.dtypes)

for i in range(len(df_gc)):
    idx=df_match[df_match['opid']==df_gc.loc[i,'opid']].index.tolist()
    for j in idx:
        df_match.loc[j,'age'] = int(df_gc.loc[i,'age'])
        df_match.loc[j,'weight'] = df_gc.loc[i,'weight']
        df_match.loc[j,'height'] = df_gc.loc[i,'height']
        df_match.loc[j,'Anetime'] = df_gc.loc[i,'Anetime']
        df_match.loc[j,'Optime'] = df_gc.loc[i,'Optime']
        
print(df_match)

index                int64
opid                 int64
sex                 object
age                float64
weight             float64
height             float64
orin        datetime64[ns]
orout       datetime64[ns]
opstart     datetime64[ns]
opend       datetime64[ns]
Anetime    timedelta64[ns]
Optime     timedelta64[ns]
dtype: object
      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
0              0             0              35                35
1              1             1              38                38
2              2             2             103               103
3              3             3             146               146
4              4             4             150               150
...          ...           ...             ...               ...
8328        8385          9065           45279             45279
8329        8386          9066           45280             45280
8330        8387          9067           45286             45286
8331        8388          9068           45288             45288
8332        8389          9069           45294             45294

      Unnamed: 0.1.1.1.1       oID       hid gender   birthdate  \
0                     35  21863852  51597829      F  1998-08-13
1                     38  21863852  51597829      F  1998-08-13
2                    103  21864256  52049619      F  1991-09-24
3                    146  21884764  52067408      F  1972-10-25
4                    150  21863954  47393105      F  1972-09-21
...                  ...       ...       ...    ...         ...
8328               45279  31712645  47199853      M  1975-11-28
8329               45280  31712645  47199853      M  1975-11-28
8330               45286  31600302  51659688      M  1956-01-30
8331               45288  31600302  51659688      M  1956-01-30
8332               45294  31748528  50856998      F  1979-08-08

              NRS_time  Value  bed        opend_time       opid  \
0     2019-04-08 12:00    6.0    1  2019-04-08 11:39  190408044
1     2019-04-08 12:20    6.0    1  2019-04-08 11:39  190408044
2     2019-04-08 20:40    7.0    1  2019-04-08 20:23  190408106
3     2019-04-09 11:30    4.0    2  2019-04-09 10:52  190409012
4     2019-04-09 12:00    6.0    3  2019-04-09 11:38  190409044
...                ...    ...  ...               ...        ...
8328  2020-10-30 21:20    6.0    1  2020-10-30 20:56  201030023
8329  2020-10-30 21:45    6.0    1  2020-10-30 20:56  201030023
8330  2020-10-31 13:20   10.0    3  2020-10-31 12:55  201031004
8331  2020-10-31 13:30    9.0    3  2020-10-31 12:55  201031004
8332  2020-10-31 16:20    3.0    4  2020-10-31 15:50  201031002

                             path   age  weight  height         Anetime  \
0     PACU1_1_190408_115004.vital  20.0   59.90   159.3 0 days 01:11:00
1     PACU1_1_190408_115004.vital  20.0   59.90   159.3 0 days 01:11:00
2     PACU1_1_190408_202459.vital  27.0   81.75   160.0 0 days 02:36:00
3     PACU1_2_190409_110712.vital  46.0   45.90   154.9 0 days 03:24:00
4     PACU1_3_190409_114333.vital  46.0   58.38   157.4 0 days 01:31:00
...                           ...   ...     ...     ...             ...
8328  PACU1_1_201030_211816.vital  44.0   88.80   173.0 0 days 02:29:00
8329  PACU1_1_201030_211816.vital  44.0   88.80   173.0 0 days 02:29:00
8330  PACU1_3_201031_131135.vital  64.0   60.30   165.7 0 days 04:30:00
8331  PACU1_3_201031_131135.vital  64.0   60.30   165.7 0 days 04:30:00
8332  PACU1_4_201031_160405.vital  41.0   51.70   154.2 0 days 01:40:00

              Optime
0    0 days 00:34:00
1    0 days 00:34:00
2    0 days 01:53:00
3    0 days 02:27:00
4    0 days 01:03:00
...              ...
8328 0 days 01:06:00
8329 0 days 01:06:00
8330 0 days 03:45:00
8331 0 days 03:45:00
8332 0 days 01:05:00

[8333 rows x 20 columns]

In [3]:
import datetime as datetime
df_match['Anetime']=pd.to_timedelta(df_match['Anetime'])
df_match['Optime']=pd.to_timedelta(df_match['Optime'])
df_match['Anetime']=df_match['Anetime'].dt.total_seconds()/3600
df_match['Optime']=df_match['Optime'].dt.total_seconds()/3600

df_match

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,oID,hid,gender,birthdate,NRS_time,Value,bed,opend_time,opid,path,age,weight,height,Anetime,Optime
0,0,0,35,35,35,21863852,51597829,F,1998-08-13,2019-04-08 12:00,6.0,1,2019-04-08 11:39,190408044,PACU1_1_190408_115004.vital,20.0,59.90,159.3,1.183333,0.566667
1,1,1,38,38,38,21863852,51597829,F,1998-08-13,2019-04-08 12:20,6.0,1,2019-04-08 11:39,190408044,PACU1_1_190408_115004.vital,20.0,59.90,159.3,1.183333,0.566667
2,2,2,103,103,103,21864256,52049619,F,1991-09-24,2019-04-08 20:40,7.0,1,2019-04-08 20:23,190408106,PACU1_1_190408_202459.vital,27.0,81.75,160.0,2.600000,1.883333
3,3,3,146,146,146,21884764,52067408,F,1972-10-25,2019-04-09 11:30,4.0,2,2019-04-09 10:52,190409012,PACU1_2_190409_110712.vital,46.0,45.90,154.9,3.400000,2.450000
4,4,4,150,150,150,21863954,47393105,F,1972-09-21,2019-04-09 12:00,6.0,3,2019-04-09 11:38,190409044,PACU1_3_190409_114333.vital,46.0,58.38,157.4,1.516667,1.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8328,8385,9065,45279,45279,45279,31712645,47199853,M,1975-11-28,2020-10-30 21:20,6.0,1,2020-10-30 20:56,201030023,PACU1_1_201030_211816.vital,44.0,88.80,173.0,2.483333,1.100000
8329,8386,9066,45280,45280,45280,31712645,47199853,M,1975-11-28,2020-10-30 21:45,6.0,1,2020-10-30 20:56,201030023,PACU1_1_201030_211816.vital,44.0,88.80,173.0,2.483333,1.100000
8330,8387,9067,45286,45286,45286,31600302,51659688,M,1956-01-30,2020-10-31 13:20,10.0,3,2020-10-31 12:55,201031004,PACU1_3_201031_131135.vital,64.0,60.30,165.7,4.500000,3.750000
8331,8388,9068,45288,45288,45288,31600302,51659688,M,1956-01-30,2020-10-31 13:30,9.0,3,2020-10-31 12:55,201031004,PACU1_3_201031_131135.vital,64.0,60.30,165.7,4.500000,3.750000
8332,8389,9069,45294,45294,45294,31748528,50856998,F,1979-08-08,2020-10-31 16:20,3.0,4,2020-10-31 15:50,201031002,PACU1_4_201031_160405.vital,41.0,51.70,154.2,1.666667,1.083333

In [4]:
df_match.to_csv('match_with_age_20201210.csv')

In [7]:
df=df_match[df_match['age']>=18]
print(len(df))
#df.to_csv('match_18yo_dupl_removal_20201210.csv')

8272

In [17]:
df1=df_match[df_match['age']<18]
df1.drop_duplicates(subset=['path'],keep='first',inplace=True)
print(len(df1))

38

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy